.DS_Store
.idea
.vscode
**/node_modules
!/acorn-loose/node_modules
/.tern-port
/local
/bin/_acorn.js
/acorn/dist/*
/acorn-loose/dist
/acorn-walk/dist
!/acorn/dist/acorn.d.ts
!/acorn/dist/acorn.mjs.d.ts
